/* *{
    background-color: black;
} */
.header {
    background: url(../images/Mesa\ de\ trabajo\ 6.jpg) center no-repeat  ;
    background-attachment: fixed;
    background-size: cover;
    height: 120vh;
    
}
.header .navbar {
    background: transparent !important ;
}
.header .navbar .navbar-right {
    display: flex;
    align-items:center;
    background: transparent ;
    border-radius: 6px;
    height: 150px;
    width: 14vw;
    margin-left: 15px;
}
.header .navbar .brackets {
    font-size: 100px;
    color: rgb(0, 0, 0);
    height: 170px;
    
}
.header .navbar .navbar-brand {
    font-family: 'Rubik', sans-serif;
    color: #000000;
    font-size: 27px;
    margin-right: 0rem !important;
    margin-left: 10px;
}
@media screen and (max-width: 576px) {
.header .navbar .navbar-brand {
    font-size: 20px;
    height: auto;
}
.header .navbar .brackets {
    font-size: 80px;
    color: rgb(0, 0, 0);
    height: 145px;
    
}
.header .navbar .container-fluid .collapse {
    max-width: 20vw;
    font-size: 1.5vw;
    font-family: 'Rubik', sans-serif;
    background: none !important ;
    border-radius: 6px;
    height: 400px;
    text-align: center;
}
.navbar-nav{
    background:#ffa600af ;
    border-radius: 6px;
    height: 150px;
    width: 100px;
    align-self:flex-end;

}
.header .navbar .container-fluid{
    display: flex;
    flex-direction: row;
}
.header .navbar .navbar-toggler {
    align-self: center;
    justify-content:flex-end
    

}
.main .information #info-photo-1 {
    height: 30vh;
    width: 50vw;
    border-radius: 10px;
    
}
}
    

.header .navbar #navbar__brand-text {
    color: white;
}

.header   .nav-item .nav-link {
    color: white !important;
}

.header .navbar .container-fluid .collapse {
    max-width: 40vw;
    font-size: 1.5vw;
    font-family: 'Rubik', sans-serif;
    background:#ffa600af ;
    border-radius: 6px;
    height: 60px;
}
.header .navbar .container-fluid .collapse .nav-item {
    margin-left: 20px;
}

.hero .container .home  {
    font-family: 'Rubik', sans-serif;
    

}
.hero .container .home .text-1 {
    font-size: 2.8vw;
    color: white;
    background-color: #ffa600af;
    width: 27vw;
    border-radius: 7px;
    padding-left: 10px;
   
}
.hero .container .home .text-2 {
    font-size: 5vw;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    background-color: #ffa600af;
    width: 52vw;
    padding-left: 10px;
    border-radius: 7px;
}
.hero .container .home__left {
    max-width: 1300px;
}
.hero .container .home .text-3 {
    font-size: 2.9vw;
    color: white;
    margin-top: 15px;
    background-color: #ffa600af;
    width: 45vw;
    border-radius: 7px;
    padding-left: 10px;
}
.hero {
    margin-top: 50px;
    
}
.hero .container .home__left {
    display: flex;
    flex-direction: column;
}
.hero .container .home .text-4 {
    display: flex;
    max-width: 45vw;
    justify-content: space-between;
    margin-top: 50px;
    
}
.hero .container .home .text-4 a {
    color:white;
    font-size: 2.3vw;
    transition: 0.5s;

    
}
.hero .container .home .text-4 button{
 border: none;
 background-color: #ffa600af;
 width: 15vw;
 height: 15vh;
 border-radius: 7px;
 color: white;
 font-weight: 450;
 font-size: 2.3vw;
 transition: 1s;
}
.hero .container .home .text-4 button:hover{
    border-radius: 7px;
    border: 3px solid #ffa600af;
    background-color: transparent;
    color: #ffa600af;
}
.hero .container .home .text-4 a:hover{
    color: #ffa600af;
}
#text-4-tel,#text-4-hire {
    text-decoration: none;
    
}

#tel-btn {
    width: 25vw;
    height: 15vh;
}

.main {
    background-color:#ffffff;
    width: cover;
    height: 500px;
    font-family: 'Rubik', sans-serif;
}
.main .information .info-photo {
    margin-left: 120px;
    margin-top: 50px;
    
}
.main .information #info-photo-1 {
    height: 55vh;
    width: 25vw;
    border-radius: 10px;
    
}

.main .title {
    padding-top: 50px;
    display: flex;
    width: 20vw;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    
}
.main .title h2 {
    font-size: 3.6vw;
}
.main .title #title-2 {
    font-size: 2vw !important;
    font-weight: 300;
   
}
.main .information .info-text-block {
    margin-left: 10vw;
    margin-top : 70px;
    line-height: 2;
}
.main .information .info-text-block #info-text-1 {
    font-size: 1.9vw;
}
.main .information .info-text-block #info-text-2 {
    font-size: 1.1vw;
}
.inner-text {
    line-height:3;
}
.dots{
    font-size: 60px;
    color: orange;
}
.main .skills {
    margin-left: 50px !important;
    max-width: 100vw;
}
.main__skills {
    margin-top: 50px;
    background-color: #ffffff;
}

.main .title-skills {
    padding-top: 50px;
    display: flex;
    width: 20vw;
    margin-left: 200px;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    justify-content: flex-start;    
    
}
.main .title-skills h2 {
    font-size: 3.6vw;}
#info-text-skills{
    text-align: center;
    font-size: 2vw !important;
}
.icon_html {
    width: 400px;
    height: 400px;
    margin-right: 150px;
    
    
}

.skills__icons{
    margin-top: 50px;
}
.main__porfolio {
    margin-top: 50px;
}
.container-4 {
width: 90vw;
margin: 0 auto;
}